.card, .toAdvice{
	transition: background-color 1.5s;
}

.card:hover, .toAdvice:hover{
	transition: background-color .75s;
	background-color: #ee974b;
}












/* MOBILE STYLES ////////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 767px){
	
	.container{
		width:87.5%; /* 280 pixels at a 320 pixel screen width (iPhone 3 / 4 / 5) */
	}

	.hero{
		width: 100vw;
		height: 85vh;
		position: relative;
		background-image: url(../images/mobileBG.jpg);
		background-position: center 35px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.heroSplasher{
		width: 100vw;
		height: 85vh;
		position: absolute;
		left: 0;
		top: 35px;
		background-image: url(../images/mobileHeroSplash.png);
		background-position: center top;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	.heroLogo{
		width: 46.4286%;
		margin-left: 26.7857%;
		padding-top: 75vh;
		background-image: url(../images/homeLogoD.png);
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center bottom;
	}

	.heroExit{
		width: 100vw;
		height: 32.66724587vw;
		background-image: url(../images/heroExit.png);
		background-size: 100%;
		position: relative;
		bottom: 0;
	}





	.intro1{
		padding-top: 50vw;
	}

	.intro1 h2{
		width: 100%;
		text-align: center;
		padding-bottom: 15vw;
	}

	.intro1 p{
		width: 70%;
		margin-left: 15%;
		margin-bottom: 70vw;
	}






	.scroller{
		position: relative;
		margin-bottom: 92vw;
	}

	.card{
		width: 40.625vw;
		height: 22vw;
		position: absolute;
	}

	.card h2{
		text-align: center;
		line-height: 21vw;
	}

	.journalCard{
		left: -17.1875vw;
		animation: journalScroll 15s infinite linear;
	}

	@keyframes journalScroll{
		0%{
			left: -17.1875vw;
			opacity: 1;
		}

		25%{
			left: -64.0575vw;
			opacity: 1;
		}

		25.0001%{
			left: -64.0575vw;
			opacity: 0;
		}

		25.0002%{
			left: 123.4375vw;
			opacity: 0;
		}
		25.0003%{
			left: 123.4375vw;
			opacity: 1;
		}

		50%{
			left: 76.5625vw;
			opacity: 1;
		}

		75%{
			left: 29.6875vw;
			opacity: 1;
		}

		100%{
			left: -17.1875vw;
		}
	}

	.timelineCard{
		left: 29.6875vw;
		animation: timelineScroll 15s infinite linear;
	}

	@keyframes timelineScroll{
		0%{
			left: 29.6875vw;
			opacity: 1;
		}

		25%{
			left: -17.1875vw;
			opacity: 1;
		}

		50%{
			left: -64.0575vw;
			opacity: 1;
		}

		50.0001%{
			left: -64.0575vw;
			opacity: 0;
		}

		50.0002%{
			left: 123.4375vw;
			opacity: 0;
		}
		50.0003%{
			left: 123.4375vw;
			opacity: 1;
		}

		75%{
			left: 76.5625vw;
			opacity: 1;
		}

		100%{
			left: 29.6875vw;
			opacity: 1;
		}
	}

	.shopCard{
		left: 76.5625vw;
		animation: shopScroll 15s infinite linear;
	}

	@keyframes shopScroll{
		0%{
			left: 76.5625vw;
			opacity: 1;
		}

		25%{
			left: 29.6875vw;
			opacity: 1;
		}

		50%{
			left: -17.1875vw;
			opacity: 1;
		}

		75%{
			left: -64.0575vw;
			opacity: 1;
		}

		75.0001%{
			left: -64.0575vw;
			opacity: 0;
		}

		75.0002%{
			left: 123.4375vw;
			opacity: 0;
		}
		75.0003%{
			left: 123.4375vw;
			opacity: 1;
		}

		100%{
			left: 76.5625vw;
			opacity: 1;
		}
	}

	.previewCard{
		left: 123.4375vw;
		animation: previewScroll 15s infinite linear;
	}

	@keyframes previewScroll{
		0%{
			left: 123.4375vw;
			opacity: 1;
		}

		25%{
			left: 76.5625vw;
			opacity: 1;
		}

		50%{
			left: 29.6875vw;
			opacity: 1;
		}

		75%{
			left: -17.1875vw;
			opacity: 1;
		}

		99.9997%{
			left: -64.0575vw;
			opacity: 1;
		}

		99.9998%{
			left: -64.0575vw;
			opacity: 0;
		}

		99.9999%{
			left: 123.4375vw;
			opacity: 0;
		}
		100%{
			left: 123.4375vw;
			opacity: 1;
		}
	}








	.intro2 h2{
		text-align: center;
		padding-bottom: 15vw;
	}

	.smallButton{
		width: 36.6071%;
		height: 9.6875vw;
		display: block;
	}

	.intro2 .smallButton{
		margin-left: 63.3929%;
		line-height: 9.6875vw;
		text-align: center;
		margin-bottom: 70vw;
	}








	.diamondSpacer{
		width: 76.5625vw;
		height: 70.9375vw;
		background-image: url(../images/dSpacerM.png);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.dSpacer2{
		transform: scaleX(-1);
		margin-left: auto;
	}

	.bigThing{
		width: 100vw;
		padding-top: 15vw;
		margin-bottom: 40vw;
		margin-top: -0.25vw;
	}

	.columnR .flexParent, .columnL .flexParent{
		width: 100%;
		padding-bottom: 15vw;
	}

	.columnR p{
		width: 73.2143%;
		margin-left: 26.7857%;
		padding-bottom: 25vw;
	}

	.columnL p{
		width: 73.2143%;
		margin-right: 26.7857%;
		padding-bottom: 25vw;
		text-align: right;
	}

	.columnL h2{
		margin-left: -1.5vw;
		text-align: right;
		font-size: 8.45vw;
	}

	.columnR h2{
		font-size: 8.45vw;
	}

	.smallSpark{
		width: 10vw;
		height: 10vw;
		background-image: url(../images/smallSparkDarkBGM.png);
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 9vw;
	}

	.columnR .smallSpark{
		margin-left: -1.5vw;
	}

	.columnL .smallSpark{
		margin-left: auto;
	}

	.whyInnerSpace{
		width: 40.625vw;
		height: auto;
		margin-bottom: 50vw;
	}

	.sparkSpacer{
		background-image: url(../images/RayFlairM.png);
		background-size: cover;
		background-repeat: no-repeat;
		height: 39.84375vw;
		margin-left: 6.25vw;
	}

	.triangleSpacer{
		background-image: url(../images/TriangleFlairM.png);
		background-size: cover;
		background-repeat: no-repeat;
		margin-left: 53.125vw;
		height: 40.625vw;
	}







	.burstParent{
		position: relative;
		padding-top: 30vw;
	}

	.burst{
		background-image: url(../images/bigSplashM.png);
		background-position: center top;
		background-size: 100% auto;
		background-repeat: no-repeat;
		position: absolute;
		width: 100%;
		height: 150vw;
		top: -20vw;
		z-index: 1;
	}

	.burstCenter{
		width: 46.4286%;
		margin-left: 53.5714%;
		z-index: 2;
		position: relative;
	}

	.burstCenter h2{
		width: 100%;
		text-align: center;
		padding-bottom: 2.5vw;
	}

	.burstCenter p{
		width: 100%;
		text-align: center;
		padding-bottom: 2vw;
	}

	.burstDescrip{
		width: 73.2143%;
		margin-right: 26.7857%;
		padding-top: 36vw;
		margin-bottom: 70vw;
	}





	.switchingHeader{
		width: 100%;
		text-align: center;
		padding-bottom: 8vw;
		font-size: 8.45vw;
	}

	.switchingSub{
		width: 100%;
		text-align: center;
		padding-bottom: 25vw;
	}

	.switchAdvice{
		padding-bottom: 70vw;
	}

	.switchButtParent{
		position: relative;
	}

	.switchButt{
		display: block;
		position: absolute;
	}

	.switchButt1{
		left: 0;
		bottom:0;
		z-index: 1;
		background-image: url(../images/denialButtonM.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.switchButt1 .selected{
		background-image: url(../images/denialButtonMSelect.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .5s;
	}

	.switchButt1 .buttonHov{
		background-image: url(../images/denialButtonMHov.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		margin-top: -17.1875vw;
		transition: opacity 1.5s;
	}

	.switchButt2{
		left: 17.1875vw;
		bottom:0;
		z-index: 2;
		background-image: url(../images/bargainingButtonM.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.switchButt2 .selected{
		background-image: url(../images/bargainingButtonMSelect.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .5s;
	}

	.switchButt2 .buttonHov{
		background-image: url(../images/bargainingButtonMHov.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		margin-top: -40.625vw;
		transition: opacity 1.5s;
	}

	.switchButt3{
		right: 17.1875vw;
		bottom:0;
		z-index: 2;
		background-image: url(../images/angerButtonM.png);
		background-position: right top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.switchButt3 .selected{
		background-image: url(../images/angerButtonMSelect.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .5s;
	}

	.switchButt3 .buttonHov{
		background-image: url(../images/angerButtonMHov.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		margin-top: -40.625vw;
		transition: opacity 1.5s;
	}

	.switchButt4{
		right: 0;
		bottom:0;
		z-index: 1;
		background-image: url(../images/depressionButtonM.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.switchButt4 .selected{
		background-image: url(../images/depressionButtonMSelect.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .5s;
	}

	.switchButt4 .buttonHov{
		background-image: url(../images/depressionButtonMHov.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		margin-top: -17.1875vw;
		transition: opacity 1.5s;
	}

	.switchButt1, .switchButt4{
		height: 17.1875vw;
		width: 40.625vw;
	}

	.switchButt2, .switchButt3{
		height: 40.625vw;
		width: 23.4375vw;
	}

	.switchButt:hover > .buttonHov{
		opacity: 1;
		transition: opacity .5s;
	}

	.selected, .buttonHov{
		width: 100%;
		height: 100%;
	}



	body{
		overflow-x: hidden;
		max-width: 100vw;
		width: 100vw;
		position: relative;
	}



}



































/* TABLET STYLES ////////////////////////////////////////////////////////////////////////////////////////////////*/
/*@media only screen and (min-width: 768px) and (max-width: 1024px){
	.container{
		width:93.75%;*/ /* 720 pixels at a 768 pixel screen width (iPads) */
/*	}
}*/

/* DESKTOP STYLES ////////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 768px){


	.hero{
		width: 100vw;
		height: 60vw;
		position: relative;
		padding-top: 4.8828125vw;
		z-index: 0;
		background-image: url(../images/deskBG.jpg);
		background-position: center 4.8828125vw;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.heroSplasher{
		display: none
	}

	.heroLogo{
		width: 21.58203125vw;
		height: 11.02838145vw;
		position: absolute;
		left: 18.65234375vw;
		bottom: 24vw;
		background-image: url(../images/homeLogoD.png);
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center bottom;
	}

	.heroExit{
		width: 100vw;
		height: 22.07910156vw;
		background-image: url(../images/heroExitD.png);
		background-size: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-repeat: no-repeat;
	}





	.intro1{
		padding-top: 10vw;
	}

	.intro1 h2{
		width: 82.822086%;
		margin-left: 8.588957%;
		padding-bottom: 10vw;
	}

	.intro1 p{
		width: 39.877301%;
		margin-left: 51.533742%;
		margin-bottom: 20vw;
	}





	.scroller{
		position: relative;
		margin-bottom: 40vw;
	}

	.card{
		width: 21.6796875vw; 
		height: 8.5vw;
		position: absolute;
	}

	.card h2{
		text-align: center;
		line-height: 8.5vw;
	}

	.journalCard{
		left: 2.24609375vw;
		animation: journalScroll 15s infinite linear;
	}

	@keyframes journalScroll{
		0%{
			left: 2.24609375vw;
			opacity: 1;
		}

		25%{
			left: -30.56640626vw;
			opacity: 1;
		}

		25.0001%{
			left: -30.56640626vw;
			opacity: 0;
		}

		25.0002%{
			left: 100.6825938vw;
			opacity: 0;
		}
		25.0003%{
			left: 100.6825938vw;
			opacity: 1;
		}

		50%{
			left: 67.87109376vw;
			opacity: 1;
		}

		75%{
			left: 35.058593755vw;
			opacity: 1;
		}

		100%{
			left: 2.24609375vw;
		}
	}



	.timelineCard{
		left: 35.058593755vw;
		animation: timelineScroll 15s infinite linear;
	}

	@keyframes timelineScroll{
		0%{
			left: 35.058593755vw;
			opacity: 1;
		}

		25%{
			left: 2.24609375vw;
			opacity: 1;
		}

		50%{
			left: -30.56640626vw;
			opacity: 1;
		}

		50.0001%{
			left: -30.56640626vw;
			opacity: 0;
		}

		50.0002%{
			left: 100.6825938vw;
			opacity: 0;
		}
		50.0003%{
			left: 100.6825938vw;
			opacity: 1;
		}

		75%{
			left: 67.87109376vw;
			opacity: 1;
		}

		100%{
			left: 35.058593755vw;
			opacity: 1;
		}
	}

	.shopCard{
		left: 67.87109376vw;
		animation: shopScroll 15s infinite linear;
	}

	@keyframes shopScroll{
		0%{
			left: 67.87109376vw;
			opacity: 1;
		}

		25%{
			left: 35.058593755vw;
			opacity: 1;
		}

		50%{
			left: 2.24609375vw;
			opacity: 1;
		}

		75%{
			left: -30.56640626vw;
			opacity: 1;
		}

		75.0001%{
			left: -30.56640626vw;
			opacity: 0;
		}

		75.0002%{
			left: 100.6825938vw;
			opacity: 0;
		}
		75.0003%{
			left: 100.6825938vw;
			opacity: 1;
		}

		100%{
			left: 67.87109376vw;
			opacity: 1;
		}
	}

	.previewCard{
		left: 100.6825938vw;
		animation: previewScroll 15s infinite linear;
	}

	@keyframes previewScroll{
		0%{
			left: 100.6825938vw;
			opacity: 1;
		}

		25%{
			left: 67.87109376vw;
			opacity: 1;
		}

		50%{
			left: 35.058593755vw;
			opacity: 1;
		}

		75%{
			left: 2.24609375vw;
			opacity: 1;
		}

		99.9997%{
			left: -30.56640626vw;
			opacity: 1;
		}

		99.9998%{
			left: -30.56640626vw;
			opacity: 0;
		}

		99.9999%{
			left: 100.6825938vw;
			opacity: 0;
		}
		100%{
			left: 100.6825938vw;
			opacity: 1;
		}
	}




	.intro2 h2{
		text-align: center;
		padding-bottom: 10vw;
		width: 100%;	
		letter-spacing: .175vw;
	}

	.smallButton{
		width: 14.110429%;
		height: 5vw;
		display: block;
	}

	.intro2 .smallButton{
		margin-left: 68.711656%;
		line-height: 5vw;
		text-align: center;
		margin-bottom: 30vw;
	}










	.whatWhoWhySec{
		position: relative;
	}

	.whoDeskFlex{
		display: flex;
		position: relative;
	}

	.diamondSpacer{
		width: 32.12890625vw;
		height: 80vw;
		background-image: url(../images/dSpacerD.jpg);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.columnL, .columnR{
		height: 80vw;
	}

	.dSpacer1{
		margin-right: 2.9296875vw;
	}

	.dSpacer2{
		position: absolute;
		left: 67.87109375vw;
	}

	.bigThing{
		width: 64.941406vw;
	}

	.bigThing .container{
		width: calc(100% - 2.24609375vw);
		padding-right: 2.24609375vw;
	}

	.bigThing .offContain{
		width:100%;
		padding-right: 0;
	}

	.columnR p, .columnL p{
		padding-left: 8.203125vw;
		padding-top: 10vw;
		width: 46.2890625vw;
	}

	.columnR .flexParent, .columnL .flexParent{
		padding-top: 10vw;
	}

	.columnL{
		padding-left: 2.246094vw;
	}

	.columnL .flexParent{
		margin-left: 8.203125vw;
		width: 54.492188vw;
		position: relative;
	}

	.columnL .flexParent h2{
		text-align: right;
		width: 100%;
	}

	.columnL .flexParent .smallSpark{
		position: absolute;
		top: 10vw;
		right: 32.5vw;
	}









	.whatWhoWhySec .sparkSpacer{
		position: absolute;
		left: 26.855469vw;
		top: 150vw;
		z-index: 3;
	}

	.sparkSpacer{
		background-image: url(../images/RayFlairRevD.png);
		background-size: cover;
		background-repeat: no-repeat;
		height: 21.24505111vw;
		width: 21.679688vw;
		transform: scaleX(1);
	}

	.whatWhoWhySec .triangleSpacer{
		position: absolute;
		left: 59.66796875vw;
		top: 70vw;
		z-index: 3;
	}

	.triangleSpacer{
		background-image: url(../images/TriangleFlairRevD.png);
		background-size: cover;
		background-repeat: no-repeat;
		height: 21.679688vw;
		width: 21.679688vw;
		transform: scaleX(-1);
	}







	.burstParent{
		margin-top: 30vw;
		position: relative;
	}

	.burst{
		background-image: url(../images/bigSplashD.png);
		background-position: center top;
		background-size: 100% auto;
		background-repeat: no-repeat;
		position: absolute;
		width: 100%;
		height: 75vw;
		top: -22vw;
		z-index: 1;
	}

	.burstCenter{
		width: 21.679688vw;
		margin-left: 65.625000vw;
		z-index: 2;
		position: relative;
	}

	.burstCenter h2{
		width: 100%;
		line-height: 6vw;
		text-align: center;
	}

	.burstCenter p{
		width: 100%;
		text-align: center;
		padding-bottom: 2vw;
	}

	.burstDescrip{
		width: 38.085938vw;
		margin-left: 16.406250vw;
		padding-top: 20vw;
		margin-bottom: 30vw;
	}






	.switchingHeader{
		width: 100%;
		text-align: center;
		padding-bottom: 0vw;
	}

	.switchingSub{
		width: 100%;
		padding-bottom: 10vw;
		text-align: center;
	}

	.switchAdvice{
		width: 65.644172%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 30vw;
	}

	.switchButtParent{
		position: relative;
	}

	.switchButt{
		display: block;
		position: absolute;
	}

	.switchButt1{
		left: 8.203125vw;
		bottom:0;
		z-index: 1;
		background-image: url(../images/denialButtonD.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.switchButt1 .selected{
		background-image: url(../images/denialButtonDSelect.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .5s;
	}

	.switchButt1 .buttonHov{
		background-image: url(../images/denialButtonDHov.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity 1.5s;
		margin-top: -9.172175695vw;
	}

	.switchButt:hover > .buttonHov{
		opacity: 1;
		transition: opacity .5s;
	}

	.switchButt2{
		left: 32.812500vw;
		bottom:0;
		z-index: 2;
		background-image: url(../images/bargainingButtonD.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.switchButt2 .selected{
		background-image: url(../images/bargainingButtonDSelect.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .5s;
	}

	.switchButt2 .buttonHov{
		background-image: url(../images/bargainingButtonDHov.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity 1.5s;
		margin-top: -23.35937587vw;
	}

	.switchButt3{
		right: 32.812500vw;
		bottom:0;
		z-index: 2;
		background-image: url(../images/angerButtonD.png);
		background-position: right top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.switchButt3 .selected{
		background-image: url(../images/angerButtonDSelect.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .5s;
	}

	.switchButt3 .buttonHov{
		background-image: url(../images/angerButtonDHov.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity 1.5s;
		margin-top: -23.35937587vw;
	}

	.switchButt4{
		right: 8.203125vw;
		bottom:0;
		z-index: 1;
		background-image: url(../images/depressionButtonD.png);
		background-position: right top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.switchButt4 .selected{
		background-image: url(../images/depressionButtonDSelect.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .5s;
	}

	.switchButt4 .buttonHov{
		background-image: url(../images/depressionButtonDHov.png);
		background-position: left top;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity 1.5s;
		margin-top: -9.172175695vw;
	}

	.switchButt1, .switchButt4{
		height: 9.172175695vw;
		width: 21.679688vw;
	}

	.switchButt2, .switchButt3{
		height: 23.35937587vw;
		width: 13.476563vw;
	}

	.selected, .buttonHov{
		width: 100%;
		height: 100%;
	}








	body{
		overflow-x: hidden;
		max-width: 100vw;
		width: 100vw;
		position: relative;
	}




	
}
