.burstParent{
	display: none;
}

.textInputter{
	border: none;
}

.textInputter::selection{
	border: none;
}

.selectionHolder, .ynShipping{
	display: block;
}

.counterHolder{
	display: flex;
}

.selectioner{
	position: relative;
}

.selectionIndicator, .shippingIndic{
	transition: background-color .75s;
	display: block;
}

.bigButton:hover > .selectionIndicator{
	background-color: #edb648;
}

.counterHolder .selectionIndicator:hover{
	background-color: #edb648;
}

.ynShipping:hover > .shippingIndic{
	background-color: #fff;
}

.ynShipping:hover > h3{
	color: #fff;
	transition: color .75s;
}

.toCredit, .orderButton{
	transition: background-color 1.5s;
}

.toCredit:hover{
	background-color: #ee974b;
	transition: background-color .75s;
}

.orderButton:hover{
	background-color: #fff;
	transition: background-color .75s;
}









/* MOBILE STYLES ////////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width: 767px){
	

	.hero{
		width: 100vw;
		height: calc(80vh - 40px);
		position: relative;
		padding-top: 100px;
		background-image: url(../images/heroBGM.jpg);
		background-position: center bottom;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	.heroHead{
		font-size: 9.6vw;
	}

	.heroSubHead{
		width: 46.4286%;
		text-align: right;
		margin-top: -2.8vw;
	}

	.heroDescrip{
		padding-top: 8vw;
		width: 73.2143%;
		margin-left: auto;
	}

	.heroButton{
		width: 36.6071%;
		height: 9.6875vw;
		display: block;
		right: 6.25vw;
		bottom: 6.25vw;
		position: absolute;
	}

	.heroButton h3{
		line-height: 9.6875vw;
		text-align: center;
		width: 100%;
	}









	.customizer{
		padding-top: 50vw;
	}

	.selectorCol{
		width: 46.4286%;
		padding-top: 15vw;
	}

	.selectorCol1{
		margin-right: 7.1429%;
	}

	.selectorCol2{
		position: relative;
		padding-bottom: 15vw;
	}

	.selectorCol h3{
		width: 100%;
		text-align: right;
	}

	.selectionHolder{
		padding-top: .5vw;
		padding-bottom: 15vw;
	}

	.counterHolder{
		width: 46.4286%;
	}

	.selectionIndicator{
		width: 3.55625vw;
		height: 3.55625vw;
		transform: rotate(45deg);
	}

	.tempSelector{
		margin-top: -4.75vw;
		padding-left: 8vw;
	}

	.selectorSpark{
		position: absolute;
		display: none;
	}

	.tempCounter{
		width: calc(100% - 7.1125vw);
		text-align: center;
		margin-top: -1vw;
	}







	.circleSpacer{
		background-image: url(../images/CircleFlairM.png);
		background-size: cover;
		background-repeat: no-repeat;
		margin-left: 53.5714%;
		width: 40.625vw;
		height: 44.00052954vw;
		margin-bottom: 70vw;
		margin-top: 20vw;
	}





	.previewSec{
		padding-bottom: 70vw;
	}


	.previewSec h2{
		width: 100%;
		text-align: center;
		padding-bottom: 15vw;
	}

	.previewerBox{
		width: calc(100% - 6px);
		height: 40.625vw;
		border-width: 3px;
		border-style: solid;
		border-color: #8a7a74;
		background-image: url(../images/previewDeskM.jpg);
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.disclaimerText{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		font-size: 2.25vw;
		line-height: 4.125vw;
		padding-top: 3vw;
		text-align: center;
		padding-bottom: 8vw;
	}

	.previewInfo{
		width: 46.4286%;
	}

	.fauxNum{
		text-align: right;
		margin-right: 7.1429%;
		padding-bottom: 18.75vw;
	}

	.smallButton{
		width: 36.6071%;
		height: 9.6875vw;
		display: block;
		margin-left: 63.3929%;
		line-height: 9.6875vw;
		text-align: center;
		margin-bottom: 70vw;
	}



	.prePaymentSec{
		padding-top: 53.5714vw;
	}	

	.sparkSpacer{
		background-image: url(../images/RayFlairRevM.png);
		background-size: cover;
		background-repeat: no-repeat;
		height: 39.84375vw;
		width: 40.625vw;
		margin-left: 53.5714%;
	}





	.paymentSec{
		padding-bottom: 53.5714vw;
	}

	.upperHead{
		padding-top: calc(23.125vw - 60px);
		padding-bottom: 15vw;
	}

	.form3{
		width: 73.2143%;
		margin-left: auto;
	}

	.form3Input{
		width: 73.2143%;
		padding-left: 2%;
		padding-right: 2%;
		margin-left: auto;
    	-webkit-box-sizing: border-box; 
    	-moz-box-sizing: border-box;    
    	box-sizing: border-box;
	}

	.form2{
		width: 26.5625vw;
		margin-left: auto;
	}

	.form2Input{
		width: 26.5625vw;
		padding-left: 1.75vw;
		padding-right: 1.75vw;
		margin-left: auto;
    	-webkit-box-sizing: border-box; 
    	-moz-box-sizing: border-box;    
    	box-sizing: border-box;
	}

	.formLabeller{
		padding-bottom: 2vw;
	}

	.textInputter{
		height: 7.8125vw;
		display: block;
		font-size: 3vw;
		line-height: 5.5vw;
		letter-spacing: .2vw;
		margin-bottom: 15.625vw;
	}

	.col1{
		width: 26.5625vw;
		margin-left: 26.7857%;
		margin-right: auto;
	}



	.ynShipping{
		padding-top: 8.125vw;
		margin-left: 23.4375vw;
	}

	.ynShipping .tempSelector{
		margin-top: -4.5vw;
		margin-left: 5vw;
	}

	.shippingHead{
		padding-top: 40vw;
	}

	.country2{
		margin-bottom: 0;
	}

	.orderButton{
		width: 36.6071%;
		height: 9.6875vw;
		display: block;
		margin-left: auto;
		margin-top: 30vw;
	}

	.orderButton h3{
		line-height: 9.6875vw;
		text-align: center;
		width: 100%;
	}




	.burstParent{
		position: relative;
		padding-top: 150vw;
	}

	.burst{
		background-image: url(../images/bigSplashM2.png);
		background-position: center top;
		background-size: 100% auto;
		background-repeat: no-repeat;
		position: absolute;
		width: 100%;
		height: 150vw;
		top: 87vw;
		z-index: 1;
	}

	.burstCenter{
		width: 73.2143%;
		margin-left: 26.7857%;
		position: relative;
		z-index: 2;
	}

	.burstCenter h2{
		width: 100%;
		text-align: center;
		padding-bottom: 12vw;
	}

	.burstCenter p{
		width: 80%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 2vw;
		font-size: 2.25vw;
		line-height: 4.125vw;
	}

	.burstCenter .smallSpark{
		position: absolute;
	}

	.spark1{
		left: 6vw;
	}

	.spark2{
		left: 48vw;
	}





















}


/* TABLET STYLES ////////////////////////////////////////////////////////////////////////////////////////////////*/
/*@media only screen and (min-width: 768px) and (max-width: 1024px){
	.container{
		width:93.75%;*/ /* 720 pixels at a 768 pixel screen width (iPads) */
/*	}
}*/

/* DESKTOP STYLES ////////////////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-width: 768px){
	.container{
		/*width:978px;*/
		width:95.5%;
	}



	.hero{
		width: 100vw;
		height: 63vw;
		position: relative;
		padding-top: 100px;
		background-image: url(../images/heroBGD.jpg);
		background-position: center bottom;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}

	.heroHead{
		padding-left: 8.588957%;
	}

	.heroSubHead{
		margin-left: 17.177914%;
		margin-top: -1.5vw;
	}

	.heroButton{
		width: 13.476563vw;
		height: 5vw;
		display: block;
		right: 10.449219vw;
		bottom: 12.5vw;
		position: absolute;
	}

	.heroButton h3{
		line-height: 5vw;
		text-align: center;
		width: 100%;
	}






	h2{
		padding-left: 8.203125vw;
	}







	.customizer{
		padding-top: 10vw;
	}

	.selectorCol{
		/*width: 46.4286%;*/
		padding-top: 10vw;
	}

	.selectorCol1{
		margin-right: 22.699387%;
		width: 39.877301%;
	}

	.selectorCol2{
		position: relative;
		width: 14.110429%;
		padding-bottom: 7.5vw;
	}

	.selectorCol h3{
		width: 100%;
		text-align: right;
	}

	.selectionHolder{
		padding-top: .5vw;
		padding-bottom: 7.5vw;
	}

	/*.counterHolder{
		width: 14.110429%;
	}*/

	.selectionIndicator{
		width: 1.5vw;
		height: 1.5vw;
		transform: rotate(45deg);
		margin-left: -2vw;
	}

	.eek{
		margin-left: 0;
	}

	.tempSelector{
		margin-top: -2.25vw;
		padding-left: 3vw;
	}

	.selectorSpark{
		position: absolute;
		right: 0vw;
		display: none;
	}

	.tempCounter{
		width: calc(100% - 7.1125vw);
		text-align: center;
		margin-top: -.5vw;
	}



	






	.circleSpacer{
		background-image: url(../images/CircleFlairD.png);
		background-size: cover;
		background-repeat: no-repeat;
		margin-left: 65.625vw;
		width: 21.679688vw;
		height: 23.48105236vw;
		margin-bottom: 20vw;
		margin-top: 10vw;
	}




	



	.previewSec h2{
/*		width: 100%;
		text-align: center;*/
		padding-bottom: 4vw;
	}

	.previewerBox{
		width: calc(46.289063vw - 6px);
		height: 19.69102811vw;
		border-width: 3px;
		border-style: solid;
		border-color: #8a7a74;
		margin-left: 24.609375vw;
		background-image: url(../images/previewDeskD.jpg);
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	.disclaimerText{
		width: 29.882813vw;
		margin-left: auto;
		margin-right: auto;
		font-size: .9vw;
		line-height: 2vw;
		padding-top: 3vw;
		text-align: center;
		padding-bottom: 8vw;
	}

	.previewInfo{
		width: 21.679688vw;
	}

	.fauxNum{
		text-align: right;
		margin-right: 20.179688%;
		padding-bottom: 10vw;
		margin-left: 17.177914%;
	}

	.smallButton{
		width: 13.476563vw;
		height: 5vw;
		display: block;
		margin-left: 73.828125vw;
		line-height: 5vw;
		text-align: center;
		margin-bottom: 30vw;
	}






	.sparkSpacer{
		background-image: url(../images/RayFlairRevD.png);
		background-size: cover;
		background-repeat: no-repeat;
		height: 21.24505111vw;
		width: 21.679688vw;
		margin-left: 49.218750vw;
		transform: scaleX(1);
		margin-top: 20vw;
	}








	.paymentSec{
		padding-bottom: 25vw;
	}

	.upperHead{
		padding-top: calc(10vw - 60px);
		padding-bottom: 10vw;
	}

	.form3{
		width: 31.288344%;
		margin-left: 51.533742%;
		margin-right: 17.177914%;
	}

	.form3Input{
		width: 29.882813vw;
		padding-left: 2vw;
		padding-right: 2vw;
		margin-left: 51.533742%;
		margin-right: 17.177914%;
    	-webkit-box-sizing: border-box; 
    	-moz-box-sizing: border-box;    
    	box-sizing: border-box;
	}

	.form2{
		width: 26.5625vw;
		margin-left: auto;
	}

	.form2Input{
		width: 29.882813vw;
		padding-left: 2vw;
		padding-right: 2vw;
		margin-left: auto;
    	-webkit-box-sizing: border-box; 
    	-moz-box-sizing: border-box;    
    	box-sizing: border-box;
	}

	.formLabeller{
		padding-bottom: 1.75vw;
	}

	.textInputter{
		display: block;
		font-size: 1.25vw;
		height: 3.5vw;
		line-height: 3.5vw;
		letter-spacing: .1vw;
		margin-bottom: 7.5vw;
	}

	.col1{
		width: 13.476563vw;
		margin-left: 49.218750vw;
		margin-right: 2.929688vw;
	}

	.col1 *, .col2 *{
		width: 100%;
	}

	.col2{
		width: 13.476563vw;
	}







	.ynShipping{
		padding-top: 4vw;
		margin-left: 49.218750vw;
		width: 29.882813vw;
		margin-bottom: 12.5vw;
	}

	.ynShipping .selectionIndicator{
		margin-left: 0.3vw;
	}

	.ynShipping .tempSelector{
		margin-top: -1.9vw;
		padding-left: 3vw;
	}

	.shippingHead{
		padding-top: 10vw;
	}

	.country2{
		margin-bottom: 12.5vw;
	}

	.orderButton{
		width: 13.476563vw;
		height: 5vw;
		display: block;
		margin-left: 65.625000vw;
		margin-top: 4vw;
	}

	.orderButton h3{
		line-height: 5vw;
		text-align: center;
		width: 100%;
	}







	.burstParent{
		padding-top: 30vw;
		position: relative;
		padding-bottom: 50vw;
	}

	.burst{
		background-image: url(../images/bigSplashD2.png);
		background-position: center top;
		background-size: 100% auto;
		background-repeat: no-repeat;
		position: absolute;
		width: 100%;
		height: 75vw;
		top: 9vw;
		z-index: 1;
	}

	.burstCenter{
		width: 31.288344%;
		margin-left: 51.533742%;
		position: relative;
		z-index: 2;
	}

	.burstCenter h2{
		width: 100%;
		text-align: center;
		padding-left: 0;
		line-height: 6vw;
	}

	.burstCenter p{
		width: 80%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4vw;
		padding-bottom: 2vw;
		font-size: 1vw;
		line-height: 2.5vw;
	}

	.burstCenter .smallSpark{
		position: absolute;
		top: -3vw;
	}

	.spark1{
		left: 4vw;
	}

	.spark2{
		left: 22vw;
	}




















	
}
